@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&display=swap');
.App {
  
  overflow: hidden;
  letter-spacing: -.02rem;
  line-height: 1.6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 1.8;
  font-size: 1rem;
}
.dominefont{
  font-family: 'domine', 'sans-serif';
}
.text-black{
color: #000 !important;
}
.secondtext{
  background-color:#0088E2 !important;
  color: #fff !important;
}
.text{
  color:#F25044 !important;
}
.App-link {
  color: #dde5f5;
}
.menu{
  background-color: #dde5f5 !important;
}
.menu-header a{
  font-weight: 400;
}
.menu-header .logbtn{
  border: 1px solid #0088E2 !important;
  color: hsl(0, 0%, 0%);
}
.menu-header .logbtn:hover{
  background-color: #0088E2 !important;
  color: #000 !important;
}
.menu-header .regbtn{
background-color: #0088E2 !important;
  color: #000000;
}
.menu-header .regbtn:hover{
  background-color: #ffffff !important;
  border: 1px solid #1ecbe1 !important;
  color: #1ecbe1;
}

.nav-link{
  color:rgba(28,28,28,71%)!important;
  font-size: 1.2rem;
  margin-right:1rem;
}
.aboutus{
  background-color: #dde5f5 !important;
  min-height:87vh;
}

.copy{
  font-weight: bold;
  padding-right: 0.5rem;
}
.nav-link:hover{
  color:#F25044!important;
  border-bottom: solid 1px #F25044;
}
.homeTitle{
  font-family: 'domine', 'sans-serif';
  color:#000000;
}
.carouselimg{
  height: 90vh !important;
}
.aboutImg{
  border-radius: 0px 25px 25px 0px;
}
.services h5{
  font-size: 1.1rem;
  color: #0088E2;
  font-weight: bold !important;
}
.services h2{
  font-size: 2.5rem;
  font-family: 'domine', 'sans-serif';
  color: #000;
  font-weight: bold !important;
}
.testImg{
  width:auto !important;
  height:59.25px !important;
}
.testimonials .card{
  border: none !important;
  margin-top: 6rem;
}
.find h2{
  font-size:2.1rem;
  font-family: 'domine', 'sans-serif';
}
.find p{
  line-height: 1.8;
}
.linkButton{
margin-left: 40%;
background-color: #F25044 !important;
}
.card-border{
  border: 1px solid #1ecbe1;
  
}
.starrating{
  color:#FFDF00;
}
.finddocheading h1{
 color: #F25044;
}
.card_style{
  background-color: #B6C7E9;
}
.docback{
  border: none !important;
}
.DocImage{
  width: 220px;
  height: 220px;
  padding: auto;
  border: 1px solid #282929;
  border-radius:50% 0 50% 50%;
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);

}
.text-2{
  font-size: 2rem;
  text-align: center;
}

.docLink{
  text-decoration: none !important;
  text-align: center;
}
.doclist{
  background-color: #B6C7E9;
  /* opacity: 36%; */
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
}
.docbtn_find{
  margin-top: 25%;
  margin-bottom: auto;
  display: block;
  justify-content: center;
  align-items: center;
}
.loginform{
  background-color:#dde5f5;
  border-radius: 20px;
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);

}
.login_box{
  border-radius: 20px;
}
.boldtext
{
  font-weight: 800;
  color: #F25044  !important;
  font-size: 2.5rem;
} 
.welcome_text   
{
  font-weight: 900 !important;
  color: #F25044  !important;
}
/*User profile*/
.userImage{
  width: 171px;
  height:180px;
  border: #0088E2 solid 3px;
}
.showDoctorImg{
width:100px;
height:100px;
border: #0088E2 solid 2px;
}
.adminLogin{
  text-align: right;
}
table{
  border: 1px solid #0088E2;
}
table th{
    background-color: #5d93ff !important;
  color: #ffffff;
}
table td{
  background-color: #dde5f5 !important;
}
.notification_call{
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.notification_call a{
  color: white !important;
}

.ratingradio{
  display:none  !important;
}
.star{
  cursor:pointer;
  transition: color 200ms;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.docInfocard{
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
}
.docInfocard img{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  padding: auto;
  border-radius:50% 50% 50% 50%;
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 20%), 0px 10px 14px 1px rgb(0 0 0 / 14%), 0px 4px 18px 3px rgb(0 0 0 / 12%);
}
@media screen and (min-width:1000px){
  .homeTitle{
    font-size:48px;
    line-height:50px;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1) 0s ;
  }
  .logintext a{
    color:#F25044 !important;
    
  }
 
}
@media screen and (max-width:700px){
  
  .homeTitle{
    font-size:1rem;
    line-height:1.8;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1) 0s ;
  }

  .aboutus{
    background-color: #DDE5F5 !important;
    height:auto;
  }

  .menu .loginimage{
    display: none !important;
  }
  .adminLogin{
    text-align: left !important;

  }
  .findDoctor{
    background-color: none !important;
    border:none !important;
    text-align: center !important;
  }
  .doclist img{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
.card-title{
  color: #F25044 !important;
}

/*doctor details*/
.problem_card{
background-color: #fff;
border: 1px rgba(255,255,255, 0.7) solid;
}
.problem_card .bookapplication{
  background-color: #1BA6D1 !important;
}
@media screen and (max-width:500px){
  
  .homeTitle{
    font-size:1rem;
    line-height:1.8;
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1) 0s ;
  }

  .aboutus{
    background-color: #DDE5F5 !important;
    height:auto;
  }

  .menu .loginimage{
    display: none !important;
  }
  .adminLogin{
    text-align: left !important;

  }
  .findDoctor{
    text-align: center !important;
  }
  .doclist img{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .docbtn_find{
    margin-top: 0%;
    margin-bottom: auto;
    /* display: block;
    justify-content: center;
    align-items: center; */
  }
  .enabled_btn{
padding-top: 10px !important;
padding-bottom: 10px !important;
  }
  .disabled_btn{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .stardoc{
    display:show !important;
  }
  .stardoc{
    display:none !important;
  }
}
@media (min-width: 500px){
.stardocno{
  display:none !important;
}
}


